# ========================
# Python / Flask
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/

# ========================
# SpringBoot / Java
# ========================
target/
*.log


# ========================
# IDE
# ========================
.idea/
.vscode/

# ========================
# 操作系统
# ========================
.DS_Store
Thumbs.db

# ========================
# 数据集（非常重要）
# ========================
*.jpg
*.jpeg
*.png
*.zip
data/
datasets/
files/
uploads/
